footer {
}
//====================================================================================================
.footer {
	&-body {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 70px;
		&__column {
			img {
				width: 50px;
			}
			@media (max-width: ($md4+px)) {
				img {
					width: 35px;
				}
			}
		}
	}
	&__text {
		color: #000;

		font-size: 15px;

		line-height: 20px;

		@media (max-width: ($md4+px)) {
			text-align: center;
			font-size: 13px;
			line-height: 15px;
		}
		@media (max-width: ($md6+px)) {
			width: 150px;
		}
	}
	&__logo {
		img {
			width: 100px;
		}
		@media (max-width: ($md4+px)) {
			img {
				width: 70px;
			}
		}
	}
}

//====================================================================================================
